<launch>

  <group ns="legs">
    <include file="$(find drc_launch)/hydra.launch">
      <arg name="device" value="/dev/hydra2" />
      <arg name="tf" value="true" />
      <arg name="tf_prefix" value="legs" />
    </include>
  </group>

  <group ns="arms">
    <include file="$(find drc_launch)/hydra.launch">
      <arg name="device" value="/dev/hydra0" />
      <arg name="tf" value="true" />
      <arg name="tf_prefix" value="arms" /> 
    </include>
  </group>

</launch>
