<!-- This is the main launch file for the DRC Operator Control Unit -->
<launch>
  
  <include file="$(find razer_hydra)/hydra.launch">
    <arg name="device" value="/dev/hydra" />
  </include>

  <!--
  <include file="$(find drc_launch)/web_services.launch" />
  -->

  <include file="$(find drc_launch)/transforms.launch" />

  <node name="atlas_state_throttle"
	pkg="topic_tools" type="throttle" args="messages /atlas/atlas_state 100" />

  <node name="atlas_sim_throttle"
	pkg="topic_tools" type="throttle" args="messages /atlas/atlas_sim_interface_state 100" />

  <node name="atlas_imu_throttle"
	pkg="topic_tools" type="throttle" args="messages /atlas/imu 100" />

  <node name="hydra_throttle"
	pkg="topic_tools" type="throttle" args="messages /hydra_calib 100" />

  <node name="hydra_preprocessor" 
	pkg="super_teleop" type="hydra_preprocessor.py" output="screen" />

  <node name="bdi_tf" 
	pkg="super_teleop" type="bdi_tf.py" output="screen" />

<!--  <node name="teleop_legs"
	pkg="super_teleop" type="teleop_legs.py" output="screen" respawn="true"/> -->

  <node name="teleop_arms"
	pkg="super_teleop" type="teleop" output="screen" respawn="true"/>

  <node name="rviz"
	pkg="rviz" type="rviz" output="screen" />

</launch>
