<launch>
  <node pkg="tf" type="static_transform_publisher" name="torso_hydra_arms" args="1 0 0 0 0 0 /utorso /arms/hydra_base 100" />
  <node pkg="tf" type="static_transform_publisher" name="torso_hydra_legs" args="0 0 -1.5 0 0 0 /utorso /legs/hydra_base 100" />

  <node pkg="tf" type="static_transform_publisher" name="hydra_left_hand"  args="0 0 0 -1.5707 0 0 /arms/hydra_left  /arms/left  100" />
  <node pkg="tf" type="static_transform_publisher" name="hydra_right_hand" args="0 0 0  1.5707 0 0 /arms/hydra_right /arms/right 100" />

  <node pkg="tf" type="static_transform_publisher" name="hydra_left_leg"  args="0 0 0 0 0 0 /legs/hydra_left  /legs/left  100" />
  <node pkg="tf" type="static_transform_publisher" name="hydra_right_leg" args="0 0 0 0 0 0 /legs/hydra_right /legs/right 100" />
</launch>
