<launch>

  <node name="pcl_stream" pkg="msgpack_streamer" type="pcl_stream" >
    <param name="port" value="6666" />
    <remap from="points" to="/multisense_sl/camera/points" />
  </node>

  <node name="disparity_stream" pkg="msgpack_streamer" type="disparity_stream" >
    <param name="_port" value="6667" />
    <remap from="points" to="/multisense_sl/camera/disparity" />
  </node>

</launch>
