<launch>
  <arg name="output" default="log" />
  <arg name="master" />

  <node pkg="multimaster" type="master_sync.py" name="master_sync" output="screen"> 
    <param name="foreign_master" value="http://$(arg master):11311" />      
    <rosparam command="load" file="$(find drc_launch)/fc_config.yaml" />
  </node>

  <group>
    <param name="/use_sim_time" value="true" />

    <node name="atlas_spindle_adjuster" 
          type="rostopic" pkg="rostopic"
          args="pub -r1 /multisense_sl/set_spindle_speed std_msgs/Float64 1.0"
          output="$(arg output)" respawn="true">
    </node>

    <node name="atlas_replay_service"
          type="service" pkg="atlas_replay" 
          output="$(arg output)" respawn="true">
    </node>

    <node name="atlas_sim_throttle"
          pkg="topic_tools" type="throttle" 
          args="messages /atlas/atlas_sim_interface_state 100" >
    </node>
  
    <node name="atlas_walking_service"
          pkg="super_teleop" type="teleop_legs.py"
          output="$(arg output)" respawn="true">
      <remap from="/atlas/atlas_sim_interface_state"
             to="/atlas/atlas_sim_interface_state_throttle" />
    </node>
    
    <node name="atlas_snapshot_service"
          pkg="atlas_snapshot" type="service"
          output="$(arg output)" respawn="true">
    </node>
    
    <node name="atlas_hokuyo_assembler"
          pkg="laser_assembler" type="laser_scan_assembler"
          output="$(arg output)" respawn="true">
      <remap from="scan" to="/multisense_sl/laser/scan"/>
      <param name="max_scans" type="int" value="125" />
      <param name="fixed_frame" type="string" value="/pelvis" />
    </node>
  </group>
</launch>
