<!-- Start up voodoo teleop driver -->
<launch>
  <arg name="output" default="log" />
  
  <node name="voodoo_driver" ns="voodoo"
        pkg="voodoo_driver" type="driver" 
        output="$(arg output)">
    <remap from="robot_description" to="/robot_description" />
    <param name="rate" value="60" />
    <rosparam param="mapping" command="delete"/>
    <rosparam param="mapping">
        ttyUSB0:
            "0":
                joint: "l_arm_usy"
                min: 2.3
                max: -2.3
                offset: 0.0
            "1":
                joint: "l_arm_shx"
                min: 2.3
                max: -2.3
                offset: 0.0
            "2":
                joint: "l_arm_mwx"
                min: -2.3
                max: 2.3
                offset: 0.0
            "8":
                joint: "l_arm_elx"
                min: -2.3
                max: 2.3
                offset: 1.3
            "9":
                joint: "l_arm_uwy"
                min: -2.3
                max: 2.3
                offset: 0.0
            "11":
                joint: "l_arm_ely"
                min: -2.3
                max: 2.3
                offset: 3.141
            "13":
                joint: "left_f3_j0"
                min: 11.0
                max: -11.0
                offset: 1.3
            "5":
                joint: "r_arm_usy"
                min: -2.3
                max: 2.3
                offset: 0.3
            "7":
                joint: "r_arm_shx"
                min: -2.3
                max:  2.3
                offset:  -0.00
            "10":
                joint: "r_arm_mwx"
                min: 2.3
                max: -2.3
                offset: 0.0
            "3":
                joint: "r_arm_elx"
                min: 2.3
                max: -2.3
                offset: -1.4
            "12":
                joint: "r_arm_uwy"
                min: 2.3
                max: -2.3
                offset: 0.0
            "4":
                joint: "r_arm_ely"
                min: 2.3
                max: -2.3
                offset: 3.141
            "6":
                joint: "right_f3_j0"
                min: 11.0
                max: -11.0
                offset: 1.3
        ttyUSB1:
            "0":
                joint: "back_lbz"
                min: -2.618
                max: 2.618
                offset: 0.0
            "1":
                joint: "back_ubx"
                min: 2.618
                max: -2.618
                offset: -0.125
            "2":
                joint: "back_mby"
                min: 2.618
                max: -2.618
                offset: -0.025
            "4":
                joint: "l_leg_lhy"
                min: -2.618
                max: 2.618
                offset: -1.80
            "5":
                joint: "l_leg_mhx"
                min: 2.618
                max: -2.618
                offset: 0.25
            "6":
                joint: "l_leg_kny"
                min: 2.618
                max: -2.618
                offset: 1.5707
            "7":
                joint: "l_leg_uhz"
                min: 2.618
                max: -2.618
                offset: 1.6
            "8":
                joint: "r_leg_uhz"
                min: -2.618
                max: 2.618
                offset: -1.85
            "9":
                joint: "r_leg_lhy"
                min: -2.618
                max: 2.618
                offset: -1.5
            "10":
                joint: "r_leg_mhx"
                min: 2.618
                max: -2.618
                offset: -0.5
            "12":
                joint: "r_leg_kny"
                min: 2.618
                max: -2.618
                offset: 2.5
    </rosparam>
  </node>

  <node name="voodoo_state_publisher" ns="voodoo"
        pkg="robot_state_publisher" type="state_publisher"
        output="$(arg output)" respawn="true">
    <remap from="robot_description" to="/robot_description" />
    <param name="tf_prefix" value="model" />
    <param name="publish_frequency" value="60" />
  </node>

  <node name="replay_client" ns="voodoo"
        pkg="atlas_replay" type="client" 
        output="$(arg output)" respawn="true" >
    <remap from="robot_description" to="/robot_description" />
    <remap from="model_states" to="joint_states" />
    <remap from="reference_states" to="/snap/joint_states" />
    <remap from="upload" to="/upload" />
    <remap from="commands" to="/snap/commands" />
  </node>

  <node name="replay_state_publisher" ns="voodoo"
        pkg="robot_state_publisher" type="state_publisher"
        output="$(arg output)" respawn="true">
    <remap from="joint_states" to="preview_states" />
    <remap from="robot_description" to="/robot_description" />
    <param name="tf_prefix" value="teleop" />
    <param name="publish_frequency" value="60" />
  </node>
  
  <node name="voodoo_torso_link" ns="voodoo"
        pkg="tf" type="static_transform_publisher" 
        args="0 0 0 0 0 0 /atlas/pelvis /teleop/pelvis 100"
        output="$(arg output)" respawn="true">
  </node>

  <node name="replay_torso_link" ns="voodoo"
        pkg="tf" type="static_transform_publisher" 
        args="0 0 0 0 0 0 /atlas/pelvis /model/pelvis 100"
        output="$(arg output)" respawn="true">
  </node>

</launch>
