<!-- Start up atlas snapshot client and associated publishers -->
<launch>
  <arg name="output" default="log" />

  <node name="atlas_snapshot_client" ns="snap"
        pkg="atlas_snapshot" type="client" 
        output="$(arg output)" respawn="true">
    <remap from="/tf" to="/tf_ocu" />
    <remap from="snapshot" to="/snapshot" />
    <param name="rate" value="60" />
  </node>

  <node name="atlas_snapshot_state_publisher" ns="snap"
        pkg="robot_state_publisher" type="state_publisher">
    <remap from="/tf" to="/tf_ocu" />
    <param name="publish_frequency" value="60" />
  </node>
</launch>
