<launch>
  <arg name="output" default="log" />  

  <node name="razer_hydra_driver"
        pkg="razer_hydra" type="driver" 
        output="$(arg output)" respawn="true">
    <param name="device"        type="string" value="/dev/hydra" />
    <param name="publish_tf"    type="bool"   value="false" />
    <param name="polling_ms"    type="int"    value="50" />
    <param name="lambda_filter" type="double" value="0.5" />
  </node>
  
  <node name="hydra_preprocessor" 
        pkg="super_teleop" type="hydra_preprocessor.py" 
        output="$(arg output)" respawn="true">
  </node>

  <node name="hydra_control"
        pkg="super_teleop" type="hydra_control.py" 
        output="$(arg output)" respawn="true">
    <remap from="record" to="/voodoo/record" />
    <remap from="send" to="/voodoo/send" />
    <remap from="play" to="/play" />
    <remap from="walk" to="/walk" />
    <remap from="commands" to="/snap/commands" />
    <remap from="snapshot_request" to="/snapshot_request" />
  </node>

</launch>
